@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  margin: 0;
  padding: 0;
}
.red-gradient{
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}

@layer components {
  
  .primary-gradient{
    @apply bg-gradient-to-r from-secoundaryColor to-primaryColor
  }

  .flex-col-center{
    @apply flex items-center justify-center;
  }

  .carousel-container {
    @apply relative h-60 w-9/12;
    perspective: 450px;
    transform-style: preserve-3d;
  }
    .carousel-btn-switch-card {
      @apply  absolute z-40 flex h-9 w-9 cursor-pointer items-center justify-center text-white
        rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12;
    }
  
    .carousel-btn-switch-card-left {
      @apply right-1/2 top-1/2 translate-y-[-50%] translate-x-[-250px];
    }
  
    .carousel-btn-switch-card-right {
      @apply top-1/2 left-1/2 translate-y-[-50%] translate-x-[250px];
    }
  
    .carousel-indicator {
      @apply absolute left-1/2 -bottom-4 flex h-5 w-24 -translate-x-1/2 transform items-center justify-center space-x-1 md:-bottom-10;
    }
  
    .carousel-indicator-dots {
      @apply h-2 w-2 rounded-full bg-white opacity-50  transition-all duration-500 hover:w-4 hover:opacity-100;
    }
  
    .carousel-item {
      @apply absolute h-full w-full cursor-pointer overflow-hidden rounded-3xl drop-shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-700 ease-in-out;
    }

    .carousel-item-inner {
      @apply absolute h-full cursor-pointer overflow-hidden rounded-3xl;
    }

  }